body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#f4f6f9;
}

.sidebar{
    width:230px;
    height:100vh;
    background:#1f2937;
    color:white;
    position:fixed;
    left:0;
    top:0;
}

.sidebar h2{
    text-align:center;
    padding:20px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 20px;
}

.sidebar a:hover{
    background:#2563eb;
}

.main{
    margin-left:230px;
    padding:25px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    width:220px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.card h3{
    margin:0;
}

.card p{
    font-size:30px;
    font-weight:bold;
    color:#2563eb;
}

table{
    width:100%;
    margin-top:25px;
    border-collapse:collapse;
    background:white;
}

table th{
    background:#2563eb;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    border-bottom:1px solid #ddd;
}

button{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:darkred;
}